*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 40px 2%;
    font-weight: 300;
    background-size: cover;
    background-position: center;
    background-image: url('../img/capa.png');
}

header .logo img{
    width: 180px;
    float: left;
}

header nav{
    float: right;

}

nav.mobile-menu{
    display: none;
    width: 32px;
    height: 32px; 
    cursor: pointer;
    background-image: url('../img/menu.png');
    background-size: 100% 100%;
}

nav.mobile-menu ul{
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    color: white;
    text-align: center;
    list-style-type: none;
    transition: 1s;
    background-color: white;
}

nav.mobile-menu:hover ul{
    opacity: 1;    
}

nav.mobile-menu ul li{
    padding: 8px 0;
    border-bottom: 1px solid black;
    transition: 0.7s;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}

header nav.desktop-menu li a{
    text-decoration: none;
    color: white;
}

.chamada1{
    max-width: 600px;
    margin: 200px 150px;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: 300;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

.sessao1{
    width: 100%; 
    height: auto;
    padding: 0 2%;
    background-color: #472663;
}

.texto-sessao1{
    float: left;
    width: 50%;
    margin-top: 60px;
    padding-left: 80px;
    color: white;
}

.texto-sessao1 h2{
    font-size: 30px;
    font-weight: 300;
}

.texto-sessao1 p{
    margin-top: 20px;
    font-size: 16px;
}

.texto-sessao1 ul{
    font-size: 16px;
    list-style-position: inside;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1-texto{
    background-color: #ff703e;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    border-radius: 33px;
    font-weight: bold;
    font-size: 14px;
}

.device{
    float: left;
    width: 50%;
    height: 450px;
    position: relative;
    top: -90px;
}

.device img{
    width: 100%;
    height: 540px;
}

.sessao2{
    padding: 40px 2% 0px 2%;
    text-align: center;
    background-color: white;
}

.sessao2 .container{
    max-width: 1000px;
}

.sessao2 h2{
    color: #472663;
    font-size: 40px;
    font-weight: 300;
}

.sessao2 p {
    margin-top: 30px;
    max-width: 900px;
    font-size: 16px;
    color: #472663;
    display: inline-block;
}

.sessao2 img{
    width: 100%;
    position: relative;
    top: 70px;
    margin-top: 20px;
    box-shadow: 0px 0px 44px 10px rgba(0,0,0,0.5)
}

.sessao3{
    width: 100%;
}

.part1{
    width: 50%;
    padding: 140px 0 90px 0;
    float: left;
    color: white;
    background-color: #835FA7;
}

.wrapper1{
    max-width: 600px;
    float: right;
    padding:0 30px;
}

.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
}

.part1 p{
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}

.part2{
    float: right;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #f0f4fa;
}

.autor{
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.titulo-autor{
    float: left;
    width: 100%;
}

.wrapper-titulo-autor{
    float: left;
}

.titulo-autor h2{
    color: #232323;
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    padding-right: 20px;
}

.titulo-autor p{
    font-size: 15px;
    color: #232323;
}

.titulo-autor .img-autor img{
    float: left;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.texto-autor{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p{
    color: #232323;
    font-size: 16px;
}

.slider-bullets{
    width: 100%;
    float: left;
    padding-left: 30px;
    margin-top: 10px;
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    background-color: rgb(200, 200, 200);
    border-radius: 8px;
    cursor: pointer;
}

.sessao4{
    padding: 100px 0;
    background-color: #472663;
}

.form{
    float: left;
    width: 50%;
    padding-left: 10px;
}

.form h2{
    color: white;
    font-size: 32px;
    font-weight: 300;
}

.form p{
    color: white;
    font-size: 16px;
    max-width: 400px;
    padding-right: 10px;
}

.form form{
    margin-top: 15px;
}

.form form input[type=text]{
    width: 90%;
    max-width: 480px;
    height: 58px;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid rgb(200, 200, 200);
}

.form form textarea{
    width: 90%;
    height: 160px;
    max-width: 480px;
    margin-top: 8px;
    padding: 15px;
    border: 1px solid rgb(200, 200, 200);

}

.form form input[type=submit]{
    background-color: #ff703e;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.map-wrapper{
    float: left;
    padding: 0 10px;
    width: 50%;
}

.map-wrapper h2{
    color: white;
    font-size: 32px;
    font-weight: 300;
}

.map-wrapper3{
    width: 100%;
    max-width: 480px;
    margin-top: 10px;
    position: relative;
}

.map-wrapper2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}

.map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid rgb(200, 200, 200);
    background: white;
}

footer{
    padding: 40px 2%;
    background: #192123;
    color: white;
    font-size: 13px;
}

footer p:nth-of-type(1){
    float: left;
}

footer p:nth-of-type(2){
    float: right;
}

@media screen and (max-width: 768px){

    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    .chamada1{
        width: 100%;
        float: none;
        margin: 150px 0;
        text-align: center;
    }
    
    .chamada1 h2{
        padding: 0 10px;
        font-size: 30px;
        color: white;
        font-weight: 300;
    }

    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
    
    .sessao1{
        height: auto;
        padding: 40px 2%;
        text-align: center;
    }

    .texto-sessao1{
        float: none;
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        position: static;
        display: inline-block;
    }

    .texto-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .btn1-texto{
        display: inline-block;
    }

    .device{
        display: none;
    }

    .sessao4 .container{
        text-align: center;
    }

    .form{
        width: 100%;
        float: none;
    }

    .form p{
        display: inline-block;
    }

    .map-wrapper{
        width: 100%;
        float: none;
        padding: 0 4%;
        margin-top: 50px;
    }

    .map-wrapper3{
        width: 80%;
        padding-top: 80%;
        display: inline-block;
        max-width: none;
    }

    .map-wrapper2{
        width: 100%;
        height: 100%;
        padding-top: 0;
    }
}

@media screen and (max-width:580px){
    .part1{
        width: 100%;
        padding: 40px 0;
    }

    .part2{
        width: 100%;
        padding: 40px 0;
    }

    .sessao2 img{
        top: 20px;
        margin-top: 20px;
    }

    footer{
        text-align: center;
    }

    footer p:nth-of-type(1){
        float: none;
    }

    footer p:nth-of-type(2){
        float: none;
        margin-top: 8px;
    }
}